<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h2>Categories:</h2>
<ul>
    <% @post.categories.each do |cat| %>
        <li><%= cat.name %></li>
    <% end %>
</ul>

<h4>Comments:</h4>
    <ul>
    <% @post.users.uniq.each do |user| %>
      <li><%=link_to user.username, user_path(user) %> says: <% user.comments.each do |c|%> <%= c.content %><% end%></li>
    <% end %>
  </ul>

<h4>Add a Comment:</h4>
<%= form_for(Comment.new) do |f| %>
  Select a User:
    <%= f.collection_select(:user_id, User.all, :id, :username, include_blank: 'new user' )%><br />

 <%= f.fields_for :user, User.new do |user_fields| %>

    Or Create A New User:
    <%= user_fields.text_field :username %>

  <% end %>

  Comment: <%=f.text_area :content%> <br />
  <%= f.hidden_field :post_id, :value => @post.id%>
  <%= f.submit "Create Comment"%>
<% end %>
